<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>What To Eat</title>
</head>
<body>
<div id="main">
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary sticky-top">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">What to eat</a>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>

                <!--<li class="nav-item dropdown" style="margin-left: 0%">-->
                    <!--<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Profile</a>-->
                    <!--<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 39px, 0px); top: 0px; left: 0px; will-change: transform;">-->
                        <!--<a class="dropdown-item" href="#" data-toggle="modal" data-target="#basicModal">Edit Profile</a>-->
                        <!--<div class="dropdown-divider"></div>-->
                        <!--<a class="dropdown-item" href="#">Delete Account</a>-->
                    <!--</div>-->
                <!--</li>-->

                <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="#">Features</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="#">Pricing</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="#">About</a>-->
                <!--</li>-->

            </ul>
            <ul class="nav navbar-nav ml-auto">
                <% if(curUsername) {%>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i style="display: inline-flex;vertical-align: middle;" class="material-icons">account_circle</i><%=' ' + curUsername %>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#profileModal">Edit Profile</a>
                        <a class="dropdown-item" href="#">Messages</a>
                        <a class="dropdown-item" href="#">Delete Account</a>
                    </div>
                </li>
                <% } %>

                <li class="nav-item">
                    <a class="nav-link" href=<%= href %>><%= status %></a>
                </li>

            </ul>

        </div>
    </nav>

    <div id="map-container">

        <div id="map"></div>

        <div class="container" id="alert-container">
            <div class="alert-message"> </div>
        </div>


        <div id="map-buttons" class="row justify-content-md-center">

            <div class="col-lg-auto col-xs-4">
                <button id="filter-popover" type="button" class="btn btn-danger dropdown-toggle" data-toggle="popover" data-placement="bottom">Filter</button>
                <!--<button id="test" type="button" class="btn btn-danger ">test</button>-->
            </div>

        </div>

    </div>

    <!--Message Modal-->
    <div id="msg-modal" tabindex="-1" class="modal fade" role="dialog" aria-labelledby="msg-modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!--Edit Profile-->
    <div class="modal fade" tabindex="-1" id="profileModal" role="dialog" aria-labelledby="profileModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">EDIT PROFILE</h5>
                </div>
                <div class="modal-body">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Username</label>
                            <input id="usernameText" name="username" class="form-control" value=<%= curUsername%>>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button href="#" class="btn btn-primary" onclick="edit()">Save changes</button>
                </div>
            </div>
        </div>
    </div>




    <div style="display:none;">
        <form id="popover-content">
            <div class="form-group">
                <label for="radius">Acceptable Distance</label>
                <input class="form-control" type="number" id="radius" value="800" aria-describedby="timeHelp" placeholder="Enter distance in meters">
            </div>
            <div class="form-group">
                <label for="workload">Acceptable Wait Time</label>
                <select class="form-control" id="workload">
                    <option value="0">None</option>
                    <option value="1">Up to 15 mins</option>
                    <option value="2">Up to 30 mins</option>
                    <option value="3">Up to 45 mins</option>
                    <option value="4">Up to 60 mins</option>
                    <option value="10">greater than 60 mins</option>
                </select>
            </div>
            <div class="form-group">
                <label for="day">Day</label>
                <select class="form-control" id="day">
                    <option value="-1">Today</option>
                    <option value="0">Sunday</option>
                    <option value="1">Monday</option>
                    <option value="2">Tuesday</option>
                    <option value="3">Wednesday</option>
                    <option value="4">Thursday</option>
                    <option value="5">Friday</option>
                    <option value="6">Saturday</option>
                </select>
            </div>
            <div class="form-group">
                <label for="hour" class="form-label">Hour</label>
                <input class="form-control" type="number" value="13" id="hour">
            </div>
            <div style="" class="col-lg-auto col-xs-4 center-block">
                <button id="search" type="button" class="btn btn-info">Search</button>
            </div>
        </form>

    </div>

    <div id="right-panel">
        <ul id="places"></ul>
        <!-- <button id="more">Next Page</button> -->
        <button id="close" class="btn btn-info">Close</button>
    </div>


    <div id="right-information" class="card">
        <h4 class = "card-header" id="info-name"></h4>
        <img id= "info-pic" alt = "Image Missing">
        <div class="card-block">
            <h6 class = "class-title" id = "info-address"></h6>
            <h7 class = "class-subtitle" id = "info-phone"></h7>
            <!--<button type="button" id="info-opening" class="btn btn-outline-success"></button>-->
            <br>
            <button type="button" id="info-website" class="btn btn-primary">Website</button>

        </div>



        <!-- <button id="more">Next Page</button> -->
        <button id="info-close" class="btn btn-info">RETURN</button>
    </div>

    <!-- Loader -->
    <div class="loading" style="display: none;">
        <div id="loader" class="loader"></div>
        <div id="loading-text-container" class="container">
            <h4 id="loading-text">0%</h4>
        </div>

    </div>



</div>

</body>


<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


<script src="js/maps.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhludYfs_Jkw9ZodxtxgDq9GKOl79tAuI&callback=initMap&libraries=places">
</script>
<script src="js/buttons.js"></script>
<script src="js/editProfile.js"></script>


</html>