<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>What To Eat</title>
</head>
<body>
<div id="main">
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">What to eat</a>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="#">Features</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="#">Pricing</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="#">About</a>-->
                <!--</li>-->
            </ul>
            <i class="material-icons">account_circle</i>
            <a href=<%= href %> style="color: #ffffff"><%= status %></a>
        </div>
    </nav>

    <!--<div class="container">-->
    <!--<div class="alert alert-dismissible alert-warning">-->
    <!--<button type="button" class="close" data-dismiss="alert">&times;</button>-->
    <!--<h2>Templet Webpage</h2>-->
    <!--<p>Click <a href="https://bootswatch.com/4-alpha/lux/" target="_blank" class="alert-link">here</a>.</p>-->
    <!--</div>-->
    <!--</div>-->

    <div id="map-container">
        <div id="map"></div>

        <div id="map-buttons" class="row justify-content-md-center">

            <div class="col-lg-auto col-xs-4">
                <button id="filter-popover" type="button" class="btn btn-danger dropdown-toggle" data-toggle="popover" data-placement="bottom">Filter</button>
            </div>


            <!--<div class="col-lg-auto col-xs-4">-->
            <!--<div class="btn-group" role="group" aria-label="Button group with nested dropdown">-->
            <!--<button type="button" class="btn btn-danger">Filter</button>-->
            <!--<div class="btn-group" role="group">-->
            <!--<button id="btnGroupDrop4" type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>-->
            <!--<div class="dropdown-menu" aria-labelledby="btnGroupDrop4">-->
            <!--<a class="dropdown-item" href="#">Open Now</a>-->
            <!--<a class="dropdown-item" href="#"><=15MINS</a>-->
            <!--<a class="dropdown-item" href="#"><=30MINS</a>-->
            <!--<a class="dropdown-item" href="#"><=45MINS</a>-->
            <!--<a class="dropdown-item" href="#"><=60MINS</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-auto col-xs-4">-->
            <!--<div class="btn-group" role="group" aria-label="Button group with nested dropdown">-->
            <!--<button type="button" class="btn btn-info">Sort</button>-->
            <!--<div class="btn-group" role="group">-->
            <!--<button id="btnGroupDrop3" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>-->
            <!--<div class="dropdown-menu" aria-labelledby="btnGroupDrop3">-->
            <!--<a class="dropdown-item" href="#">Most View</a>-->
            <!--<a class="dropdown-item" href="#">Shortest Wait Time</a>-->
            <!--<a class="dropdown-item" href="#">Highest Rating</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-auto col-xs-4" id="search">-->
            <!--<button type="button" class="btn btn-info">Search</button>-->
            <!--</div>-->
        </div>

    </div>


    <div style="display:none;">
        <form id="popover-content">
            <div class="form-group">
                <label for="radius">Acceptable Distance</label>
                <input class="form-control" type="number" id="radius" value="800" aria-describedby="timeHelp" placeholder="Enter distance in meters">
            </div>
            <div class="form-group">
                <label for="workload">Acceptable Wait Time</label>
                <select class="form-control" id="workload">
                    <option value="0">None</option>
                    <option value="1">Up to 15 mins</option>
                    <option value="2">Up to 30 mins</option>
                    <option value="3">Up to 45 mins</option>
                    <option value="4">Up to 60 mins</option>
                    <option value="10">greater than 60 mins</option>
                </select>
            </div>
            <div class="form-group">
                <label for="day">Day</label>
                <select class="form-control" id="day">
                    <option value="-1">Today</option>
                    <option value="0">Sunday</option>
                    <option value="1">Monday</option>
                    <option value="2">Tuesday</option>
                    <option value="3">Wednesday</option>
                    <option value="4">Thursday</option>
                    <option value="5">Friday</option>
                    <option value="6">Saturday</option>
                </select>
            </div>
            <div class="form-group">
                <label for="hour" class="form-label">Hour</label>
                <input class="form-control" type="number" value="13" id="hour">
            </div>
            <div style="" class="col-lg-auto col-xs-4 center-block">
                <button id="search" type="button" class="btn btn-info">Search</button>
            </div>
        </form>

    </div>

    <div id="right-panel">
        <ul id="places"></ul>
        <!-- <button id="more">Next Page</button> -->
        <button id="close" class="btn btn-info">Close</button>
    </div>


    <div id="right-information" class="card">
        <h4 class = "card-header" id="info-name"></h4>
        <img id= "info-pic" alt = "Image Missing">
        <div class="card-block">
            <h6 class = "class-title" id = "info-address"></h6>
            <h7 class = "class-subtitle" id = "info-phone"></h7>
            <!--<button type="button" id="info-opening" class="btn btn-outline-success"></button>-->
            <br>
            <button type="button" id="info-website" class="btn btn-primary">Website</button>

        </div>



        <!-- <button id="more">Next Page</button> -->
        <button id="info-close" class="btn btn-info">RETURN</button>
    </div>

    <div class="loading" style="display: none;">
        <div id="loader" class="loader"></div>
    </div>




</body>


<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


<script src="js/maps.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhludYfs_Jkw9ZodxtxgDq9GKOl79tAuI&callback=initMap&libraries=places">
</script>
<script src="js/buttons.js"></script>

</html>