<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>What to eat</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  <link rel="stylesheet" href="css/login.css">

  <!-- Import Material Design -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-orange.min.css" />
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <!-- Script -->
  <script src=https://code.jquery.com/jquery-3.2.1.js></script>
  <script src="js/login.js"></script>

</head>

<body>
<!-- Login Window -->
<div class = "login-page">
  <div class = "container">
    <img src="img/map.png">
    <p id="loginError"></p>
    <form>
      <div class="form-input">
        <i id="account-icon" class="material-icons">account_circle
        <input id="usernameText" type="usernameText" name="Username" placeholder="Username"></i>
      </div>
      <div class="form-input">
        <i id="lock-icon" class="material-icons">lock
        <input id="passwordText" type="password" name="Password" placeholder="Password"></i>
      </div>
      <div class="login-button">
        <button id="loginBtn" class="sign-in-button" name="data" type="button" onclick="login()">LOGIN</button>
      </div>
      <a href="signup" id="createAccount" class="text-center new-account">Create an account </a>

      <!-- MDL Progress Bar with Indeterminate Progress -->
      <div id="login-progress" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
    </form>
  </div>
</div>  
</body>
</html>