<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Profile</a>
    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 39px, 0px); top: 0px; left: 0px; will-change: transform;">
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#basicModal">Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Delete Account</a>
    </div>
</li>