html, body {
    height: 100%;
    margin: 0;
    min-height: 100%;
    padding: 0;
}

#main {
    height: 100%;
    width: 100%;
}

nav {
    float: left;
    width: 100%;
}

#map-container {
    top: 94px;
    position: relative;
    width: 100%;
    height: calc(100% - 94px);
}

#map {
    width: 100%;
    height: 100%;
    background-color: grey;
    position: absolute;
    bottom: 0;
}

#map-buttons {
    position: absolute;
    right: 50px;
    top: 0.5%;
}

#right-panel select, #right-panel input {
    font-size: 15px;
}

#right-panel select {
    width: 100%;
}

#right-panel i {
    font-size: 12px;
}
#right-panel {
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: 0;
    top: calc(94px + 43px + 12px); /* navbar hright + button height */
    margin-top: 0;
    max-height: calc( 100% - (94px + 43px + 12px));
    height: calc( 100% - (94px + 43px + 12px));
    padding:0; !important;
    z-index: 5;
    border: 1px solid #999;
    background: #ffffff;
}

#places {
    list-style-type: none;
    padding: 0;
    margin:0;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

#placeChild {
    height: 100px;
    width: 100%;
    text-overflow: clip;
    overflow: hidden;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}



#placeChild:hover {
    border: 1px solid #ffffff;
    background: #c1c1c1;
}

p{
    margin: 0;
}

#name{
    vertical-align: middle;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-left: 3%;
    width: 80%;
    height:50%;
    color: black;
    font-size: 13px;
    font-weight: 500;
}

#rating{
    color: #46a1ed;
}
#vicinity{
    height: 20%;
    width:30%;
    font-size: 15px;
    color: grey;
}
#icon{
    width: 120px;
    height: 80px;
    overflow: hidden;
    text-align:center;
    margin-bottom: 0;
}
#image{
    width: auto;
    height: 100%;
}

#rating-image {
    height: 20px;
}

#right-information {
    display: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 30px;
    padding-left: 10px;
    position: absolute;
    right: 0;
    top: calc(94px + 43px + 12px); /* navbar hright + button height */
    margin-top: 0;

    max-height: calc( 100% - (94px + 43px + 12px));
    z-index: 5;
    border: 1px solid #999;
    background: #fff;
    padding-top:10px;
    padding-bottom: 10px;
    overflow-y:scroll;
}



#info-pic {
    max-width: 100%;
    height: auto;
}

.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
}

/* Center the loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loading-text-container {
    position: relative;
    margin: -75px 0 0 -75px;
    left: calc(50% + 45px);
    top: calc(50% + 160px);
}

#loading-text {
    position: relative;
    color: white;
}



@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.alert {
    position: relative;
    margin: 5px auto;
    font-size: 14px;
}

#alert-container {
    position: absolute;
    width:100%;
}

.word-wrap{word-wrap: break-word;}

#placeChild.list-group-item {
    padding-left:0;
    padding-right: 0;
}

h6 {
    text-transform: none; !important;
}

#show-hide-button {
    display: none;
}

/* Small devices */
@media (max-width: 768px) {
    #alert-container {
        margin-top: 50px;
    }
    #map-buttons {
        position: absolute;
        right: 20px;
        top: 10px;
    }
    .popover {
        left: -14px !important;
        max-width:175px;
    }
}

/* Extra Small devices */
@media (max-width: 574px) {
    .list-group-item {
        padding-left:0;
        padding-right:0;
    }
}

@media (max-width: 992px) {
    #map-container {
        top: 86px;
        position: relative;
        width: 100%;
        height: calc(100% - 86px);
    }
}
